
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      background-color: #f5f5f5;
      padding: 30px;
    }
    h1 {
      color: #818586;
      margin-bottom: 20px;
      font-style: italic;
    }
    input {
      padding: 10px;
      font-size: 16px;
      width: 60%;
    }
    button {
      padding: 10px;
      margin: 5px;
      font-size: 14px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }
    .add-btn {
      background-color: #01023b8f;
      color: white;
    }
    .delete-btn {
      background-color: red;
      color: white;
    }
    .edit-btn {
      background-color: rgb(105, 128, 0);
      color: white;
    }
    ul {
      list-style: none;
      padding: 0;
    }
    li {
      background: white;
      margin: 10px auto;
      padding: 10px;
      border-radius: 5px;
      width: 70%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  